@font-face {
  font-family: 'D2Coding';
  src: url('../fonts/D2Coding.ttf') format('truetype');
}

@font-face {
  font-family: 'D2Coding';
  font-weight: bold;
  src: url('../fonts/D2Coding.ttf') format('truetype');
}

html {
  font-family: 'D2Coding';
}

body {
  font-family: 'D2Coding';
}
